<table class="table table-striped">
    <thead class="thead-light">
      <tr *ngFor="let data of x"></tr>
      <th scope="col"><span>  {{x[0]}}</span></th>
        <th scope="col"><span>{{x[2]}}</span></th>
        <th scope="col"><span>{{x[4]}}</span></th>
        <th scope="col"><span>{{x[7]}}</span></th>
        <th scope="col"><span>{{x[8]}}</span></th>
        <th scope="col"><span>{{x[10]}}</span></th>
        <th scope="col"><span>{{x[13]}}</span></th>
        <th scope="col"><span>{{x[14]}}</span></th>
    </thead>
    <tbody>
    <tr *ngFor="let data of y"> </tr>
  
        <td scope="row"><span>{{y[0]}}</span></td>
        <td scope="row"><span>{{y[2]}}</span></td>
        <td scope="row"><span>{{y[4]}}</span></td>
        <td scope="row"><span>{{y[7]}}</span></td>
        <td scope="row"><span>{{y[8]}}</span></td>
        <td scope="row"><span>{{y[10]}}</span></td>
        <td scope="row"><span>{{y[13]}}</span></td>
        <td scope="row"><span>{{y[14]}}</span></td>
    </tbody>
  </table>
  
  
  
  <form [formGroup]="PrincipalForm" (ngSubmit)="update()">
  <div class="form-group">
    <label class="control-label">{{x[0]}}</label>
    <input formControlName="defaultValue"  type="text" name="defaultValue" class="form-control" value="{{y[0]}}"/>
  
  
    <label class="control-label">{{x[2]}}</label>
    <input formControlName="message"  type="text" name="message" class="form-control"  value="{{y[2]}}" />
  
  
    <label class="control-label">{{x[4]}}</label>
    <input formControlName="url" name="url"  type="text"  class="form-control"  value="{{y[4]}}" />
  
    <label class="control-label">{{x[7]}}</label>
    <input formControlName="nom_application" type="text"  class="form-control"  value="{{y[7]}}" />
  
    <label class="control-label">{{x[8]}}</label>
    <input formControlName="password" type="text"  class="form-control"  value="{{y[8]}}" />
  
    <label class="control-label">{{x[10]}}</label>
    <input formControlName="port"  type="text"  class="form-control"  value="{{y[10]}}" />
  
    <label class="control-label">{{x[13]}}</label>
    <input formControlName="config"  type="text"  class="form-control"  value="{{y[13]}}" />
  
    <label class="control-label">{{x[14]}}</label>
    <input formControlName="username"  type="text"  class="form-control"  value="{{y[14]}}" />
  
   
    <button class="btn btn-warning btn-sm">Modifier</button>
  
  </div>
  </form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  