<h1 class="xx">GESTION DES MICROSERVICES</h1>


<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionCours">Configurer (default)</a>
              </div>
          <span class="card-title">Gestion Des Cours</span>
          <p> Default profile.</p>
        </div>
        



        <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionCoursProd">Configurer (production)</a>
              </div>    
            <span class="card-title">Gestion Des Cours</span>
            <p> Production profile.</p>
          </div>
          

          
        <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionCoursTest">Configurer (Test)</a>
              </div>
            <span class="card-title">Gestion Des Cours</span>
            <p> Test profile.</p>
          </div>
         




          
        <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionCoursDev">Configurer (Developpement)</a>
              </div>
    
            <span class="card-title">Gestion Des Cours</span>
            <p> Developpement profile.</p>
          </div>
          


          <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionProf">Configurer (Default)</a>
              </div>
    
            <span class="card-title">Gestion Des Professeurs</span>
            <p> Default profile.</p>
          </div>


          <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionProfProd">Configurer (Production)</a>
              </div>
    
            <span class="card-title">Gestion Des Professeurs</span>
            <p> Production profile.</p>
          </div>

          <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionProfTest">Configurer (Test)</a>
              </div>
    
            <span class="card-title">Gestion Des Professeurs</span>
            <p> Test profile.</p>
          </div>


          <div class="card-content white-text">
            <div class="card-action">
                <a routerLink="/GestionProfDev">Configurer (Développemment)</a>
              </div>
    
            <span class="card-title">Gestion Des Professeurs</span>
            <p> Developpement profile.</p>
          </div>












      </div>
    </div>
  </div>


  




